build/
install/
log/

.ros/
.colcon/

**/.git
**/.git/
**/.github/
**/.vscode/
**/.idea/

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/

*.bag
*.db3
*.mcap
*.log

Dockerfile
README.docker.md
